@model CMS.Models.UserAccount

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "UserAccount", FormMethod.Post, new {ID="userAccountForm"})) 
{
    @Html.AntiForgeryToken()
    
    
    <div class="form-horizontal">
        <h4>UserAccount</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Password, htmlAttributes:new{@type="password"})
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {

    <script src="~/Scripts/jquery-2.2.3.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>
        $(document).ready(function() {

            $("#UserAccountForm").validate({
                rules: {
                    Email: {
                        required: true,
                        email: true,
                    },
                    Password: {
                        required: true,
                        password: true,
                        minlength: 5
                    },
                },
                messages: {
                    Email: {
                        required: "Please provide an email.",
                        email: "Please provide a valid email.",
                    },
                    Password: {
                        required: "Please provide a Password",
                        minlength: "Password must be atleast 5 characters long",
                    },
                }
            });

            $('#message').delay(5000).fadeOut();


        });
    </script>
}


