@model IEnumerable<CMS.Models.TeacherStatistics>
@{
    ViewBag.Title = "PartTimeFacultyCourseLoad";
}

<h2>PartTimeFacultyCourseLoad</h2>

<table class="table form-group">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfCourse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Courses)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfCourse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courses)
            </td>

        </tr>
    }

</table>


